* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
}
a {
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#__next {
	padding-top: 60px;
}
img {
	width: 100%;
}

@media (max-width: 480px) {
	#__next {
		margin: 0px 20px;
	}
}