* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
	font-size: 16px;
}
a {
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#__next {
	padding-top: 60px;
	min-height: 100vh;
}
img {
	width: 100%;
}
main {
	width: 90%;
	margin: 0 auto;
	padding: 20px 0px;
}
h1 {
	font-size: 20.00px;
	padding: 10px 0px;
}


/* LOCK THE CONTENT WRAPPER WIDTH TO 1200PX FOR SCREENS WID */
@media screen and (min-width: 1200px) {
	h1 {
		font-size: 31.25px;
		padding: 20px 0px;
	}
	main {
		max-width: 1200px;
	}
}