.movie_card {
    img {
        border-radius: 6px;
    }
    .details {
        padding: 15px 0px;
    }
    .btn_container {
        position: relative;
        .btns {
            position: absolute;
            right: 12px;
            top: -18px;
            button {
                cursor: pointer;
                padding: 5px 20px;
                border: none;
                width: 100%;
                border-radius: 50px;
                font-size: 14px;
                text-transform: lowercase;
                font-weight: 700;
                box-shadow: 0px 1px 4px rgb(197 197 197);
                background-color: white;
            }
            .liked {
                background-color: #00acff;
                color: white;
            }
        }

    }
    @media screen and (max-width: 425px) {
        border: 1px solid #7c7c7c;
        margin-bottom: 15px;
        border-radius: 10px;
        .details {
            position: relative;
            padding: 18px;
            .title {
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}
