.movie_list {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    @media screen and (min-width: 425px) and (max-width: 575px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(5, 1fr);
    }
    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(7, 1fr);
    }
}