.movie_list {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;

    /* MEDIUM SCREENS */
    @media screen and (min-width: 436px) and (max-width: 575px) {
        grid-template-columns: repeat(2, 1fr);
    }

    /* TABLET SCREENS */
    @media screen and (min-width: 576px) and (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    /* LARGE TABLET SCREEN */
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }

    /* LOCK THE CONTENT WRAPPER WIDTH TO 1200PX FOR SCREENS WID */
    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(6, 1fr);
    }
}